<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="../style1.css">
</head>
<body  ng-app="myApp" >
    <div class="panel-info wi-600px"  ng-controller="myCtrl"  > 
    this code ,some code , from (as reference)  
    <ul>
        <li> https://www.w3schools.com/angular/ </li>
        <li >https://www.w3schools.com/angular/angular_http.asp</li>
    </ul>
        
    <br> 
    use lib from url  
    https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js
    <br>
    <h3>Learn HTTP Request</h3>
    </div>
 
    <div ng-controller="myCtrl" class="panel-app wi-800px" >
        data = {{data}}
        <br>
        fn_data = {{fn_data()}}
        <br>
        <br>
        <button ng-click="load_http()">  Load Http </button>

        <hr>
        <b>List of Users</b> 
        <button ng-click="load_http_users()">  Load Http Users </button>
        <table class="table1">
            <tr class="table1hd" >
                <td>ID</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>Salarry</td>
            </tr>
            <tr class="table1row" ng-repeat="x in data_users">
              <td class="text-center">{{ x.id }}</td>
              <td>{{ x.firstname }}</td>
              <td>{{ x.lastname }}</td>
              <td class="text-right">{{ x.salary }}</td>
            </tr>
        </table>
    </div>
      
</body>
<script src="./app1.js"></script>
 
<script src="./controller.js"></script>
 
</html>